@media (min-width: 400px) {
    .main-body{
        width: 100% !important;
        border: 1px solid #07070f;
        border-radius: 5px;
    }

}

@media (min-width: 850px) {
    .main-body{
        width: 80% !important;
        margin: auto !important;
        border: 1px solid #07070f;
        border-radius: 5px;
    }
}

.pager-container{
    width: fit-content !important;
    margin: auto !important;
    margin-top: 16px !important;
}

.pagination > li > a
{
    background-color: #1a1e21;
    color: #fff3cd;
    border-color: #1a1e21;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.pagination > li > .pager-auto-link{
    height: 3rem;
    padding-top: 13px;
    font-weight: bold;
}

.outer-body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,15,1) 34%, rgba(12,31,34,1) 100%);
}

.inner-footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,15,1) 34%, rgba(12,31,34,1) 100%);
}

.inner-nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,15,1) 34%, rgba(12,31,34,1) 100%);
}

.my-card{
    width: 13rem !important;
    height: fit-content !important;
    padding-top: 1rem !important;
}