.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.max-w-xs{
    margin: auto !important;
    width: 100% !important;
}
.shadow-md{
    margin: auto;
    text-align: center !important;
    padding: 50px !important;
}

.max-w-xs form{
    margin: auto;
    text-align: center !important;
    padding: 50px !important;
}

.my-list{
    border: none !important;
    background-color: inherit !important;

}
.my-block{
    margin-left: 0 !important;
    border: 1px solid black !important;
}

.my-movies{
    width: fit-content !important;
}

.m-m{
    margin-left: 4%;
}

@media only screen and (max-width: 600px) {
    .my-block {
        display: none;
    }
    .card{
        width: 18rem !important;
    }
    .pagination{
        text-align: center !important;
        margin-left: inherit !important;
    }
}